<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #VipUsertable{
            width: 50%;
            border: 1px solid cadetblue;
            margin: 0px auto;
            text-align: center;
        }
        #VipUsertable th,td{
            border: 1px solid darkgrey;
        }

    </style>

</head>
<body>
    <table id="VipUsertable" cellspacing="0xp" cellpadding="0px">
        <tr>
            <th>编号</th>
            <th>名字</th>
            <th>密码</th>
        </tr>

        <tr th:each="vipuser:${vipuserlist}">
            <td th:text="${vipuser.vid}"></td>
            <td th:text="${vipuser.uname}"></td>
            <td th:text="${vipuser.pwd}"></td>
        </tr>

    </table>

</body>
</html>